extends layouts/main.pug

block content
    .form-container
        form(action=routes.join, methof="post")
            input(type="password",placeholder="Current Password",name="currentPassword")
            input(type="password",placeholder="NewPassword",name="newPassword")
            input(type="password",placeholder="Verify New Password",name="newpassword2")
            input(type="submit",value="Change Password")