extends layouts/main.pug

block content
    form(action=routes.login, methof="post")
        input(type="name",placeholder="Full name",name="name")
        input(type="email",placeholder="Email",name="email")
        input(type="password",placeholder="password",name="password")
        input(type="password",placeholder="Verify password",name="password2")
        input(type="submit",value="Join Now")
    include partials/socialLogin