extends layouts/main.pug

block content
    .form-container
        form(action=routes.postLogin, method="post")
            input(type="email",placeholder="Email",name="email", required=true)
            input(type="password",placeholder="password",name="password", required=true)
            input(type="submit",value="Log in")
        include partials/socialLogin